<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">

    <title>Tanaka's Gift</title>
   
</head>
<body id="cuerpo">
    <header id="cabeza">
<h1>2K24 Tanaka's Gift</h1>
      
    </header>
<h2>Bienvenidos a Mi Video Personal</h2>
    <video controls>
        <source src="mi-video.mp4" type="video/mp4">
        Tu navegador no soporta el video.
    </video>
</body>
</html>
